.subcategory-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.subcategory-card {
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    align-content: center;
}

.subcategory-card h3 {
    font-size: 18px;
    color: #333;
}

.subcategory-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}