* {
    margin: 0;
    padding: 0;
    list-style: none;
}

main {
    padding: 20px;
    text-align: center;
}

main h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

main p {
    font-size: 18px;
}

#categories {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
}

#categories h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
    padding: 0 10px;
}

.category-card {
    text-decoration: none;
    background: #333;
    color: #fff;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 200px;
}

.category-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background: #444;
}

.category-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.category-card h3 {
    font-size: 18px;
    margin: 10px 0;
}

#header-placeholder, #footer-placeholder {
    width: 100%;
}

.cart-sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    background-color: #f9f9f9;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    overflow-y: auto;
}

.cart-sidebar.active {
    right: 0;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #b17f7f;
    color: white;
}

.close-cart {
    font-size: 24px;
    cursor: pointer;
}

.cart-items {
    padding: 15px;
}

.cart-summary {
    padding: 15px;
    border-top: 1px solid #ccc;
    text-align: center;
}

.cart-summary p {
    font-size: 18px;
    margin-bottom: 10px;
}

#checkout-btn {
    background-color: #b17f7f;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#checkout-btn:hover {
    background-color: #a16767;
}